{
  // We override existing configes here.
  // * @see http://eslint.org/docs/user-guide/configuring.html#extending-configuration-files
  // * 'standard' means, we override configs from an npm-package named 'standard'
  "extends": [
    "standard"
  ]
}
